@import "./colors.scss";

$alabaster-00             :rgba($color: $alabaster, $alpha: 0);
$alabaster-05             :rgba($color: $alabaster, $alpha: .05);
$alabaster-10             :rgba($color: $alabaster, $alpha: .1);
$alabaster-15             :rgba($color: $alabaster, $alpha: .15);
$alabaster-20             :rgba($color: $alabaster, $alpha: .2);
$alabaster-25             :rgba($color: $alabaster, $alpha: .25);
$alabaster-30             :rgba($color: $alabaster, $alpha: .3);
$alabaster-35             :rgba($color: $alabaster, $alpha: .35);
$alabaster-40             :rgba($color: $alabaster, $alpha: .4);
$alabaster-45             :rgba($color: $alabaster, $alpha: .45);
$alabaster-50             :rgba($color: $alabaster, $alpha: .5);
$alabaster-55             :rgba($color: $alabaster, $alpha: .55);
$alabaster-60             :rgba($color: $alabaster, $alpha: .6);
$alabaster-65             :rgba($color: $alabaster, $alpha: .65);
$alabaster-70             :rgba($color: $alabaster, $alpha: .7);
$alabaster-75             :rgba($color: $alabaster, $alpha: .75);
$alabaster-80             :rgba($color: $alabaster, $alpha: .8);
$alabaster-85             :rgba($color: $alabaster, $alpha: .85);
$alabaster-90             :rgba($color: $alabaster, $alpha: .9);
$alabaster-95             :rgba($color: $alabaster, $alpha: .95);
$black-00                 :rgba($color: $black, $alpha: 0);
$black-05                 :rgba($color: $black, $alpha: .05);
$black-10                 :rgba($color: $black, $alpha: .1);
$black-15                 :rgba($color: $black, $alpha: .15);
$black-20                 :rgba($color: $black, $alpha: .2);
$black-25                 :rgba($color: $black, $alpha: .25);
$black-30                 :rgba($color: $black, $alpha: .3);
$black-35                 :rgba($color: $black, $alpha: .35);
$black-40                 :rgba($color: $black, $alpha: .4);
$black-45                 :rgba($color: $black, $alpha: .45);
$black-50                 :rgba($color: $black, $alpha: .5);
$black-55                 :rgba($color: $black, $alpha: .55);
$black-60                 :rgba($color: $black, $alpha: .6);
$black-65                 :rgba($color: $black, $alpha: .65);
$black-70                 :rgba($color: $black, $alpha: .7);
$black-75                 :rgba($color: $black, $alpha: .75);
$black-80                 :rgba($color: $black, $alpha: .8);
$black-85                 :rgba($color: $black, $alpha: .85);
$black-90                 :rgba($color: $black, $alpha: .9);
$black-95                 :rgba($color: $black, $alpha: .95);
$coconut-milk-00          :rgba($color: $coconut-milk, $alpha: 0);
$coconut-milk-05          :rgba($color: $coconut-milk, $alpha: .05);
$coconut-milk-10          :rgba($color: $coconut-milk, $alpha: .1);
$coconut-milk-15          :rgba($color: $coconut-milk, $alpha: .15);
$coconut-milk-20          :rgba($color: $coconut-milk, $alpha: .2);
$coconut-milk-25          :rgba($color: $coconut-milk, $alpha: .25);
$coconut-milk-30          :rgba($color: $coconut-milk, $alpha: .3);
$coconut-milk-35          :rgba($color: $coconut-milk, $alpha: .35);
$coconut-milk-40          :rgba($color: $coconut-milk, $alpha: .4);
$coconut-milk-45          :rgba($color: $coconut-milk, $alpha: .45);
$coconut-milk-50          :rgba($color: $coconut-milk, $alpha: .5);
$coconut-milk-55          :rgba($color: $coconut-milk, $alpha: .55);
$coconut-milk-60          :rgba($color: $coconut-milk, $alpha: .6);
$coconut-milk-65          :rgba($color: $coconut-milk, $alpha: .65);
$coconut-milk-70          :rgba($color: $coconut-milk, $alpha: .7);
$coconut-milk-75          :rgba($color: $coconut-milk, $alpha: .75);
$coconut-milk-80          :rgba($color: $coconut-milk, $alpha: .8);
$coconut-milk-85          :rgba($color: $coconut-milk, $alpha: .85);
$coconut-milk-90          :rgba($color: $coconut-milk, $alpha: .9);
$coconut-milk-95          :rgba($color: $coconut-milk, $alpha: .95);
$coral-black-00           :rgba($color: $coral-black, $alpha: 0);
$coral-black-05           :rgba($color: $coral-black, $alpha: .05);
$coral-black-10           :rgba($color: $coral-black, $alpha: .1);
$coral-black-15           :rgba($color: $coral-black, $alpha: .15);
$coral-black-20           :rgba($color: $coral-black, $alpha: .2);
$coral-black-25           :rgba($color: $coral-black, $alpha: .25);
$coral-black-30           :rgba($color: $coral-black, $alpha: .3);
$coral-black-35           :rgba($color: $coral-black, $alpha: .35);
$coral-black-40           :rgba($color: $coral-black, $alpha: .4);
$coral-black-45           :rgba($color: $coral-black, $alpha: .45);
$coral-black-50           :rgba($color: $coral-black, $alpha: .5);
$coral-black-55           :rgba($color: $coral-black, $alpha: .55);
$coral-black-60           :rgba($color: $coral-black, $alpha: .6);
$coral-black-65           :rgba($color: $coral-black, $alpha: .65);
$coral-black-70           :rgba($color: $coral-black, $alpha: .7);
$coral-black-75           :rgba($color: $coral-black, $alpha: .75);
$coral-black-80           :rgba($color: $coral-black, $alpha: .8);
$coral-black-85           :rgba($color: $coral-black, $alpha: .85);
$coral-black-90           :rgba($color: $coral-black, $alpha: .9);
$coral-black-95           :rgba($color: $coral-black, $alpha: .95);
$error-red-00             :rgba($color: $error-red, $alpha: 0);
$error-red-05             :rgba($color: $error-red, $alpha: .05);
$error-red-10             :rgba($color: $error-red, $alpha: .1);
$error-red-15             :rgba($color: $error-red, $alpha: .15);
$error-red-20             :rgba($color: $error-red, $alpha: .2);
$error-red-25             :rgba($color: $error-red, $alpha: .25);
$error-red-30             :rgba($color: $error-red, $alpha: .3);
$error-red-35             :rgba($color: $error-red, $alpha: .35);
$error-red-40             :rgba($color: $error-red, $alpha: .4);
$error-red-45             :rgba($color: $error-red, $alpha: .45);
$error-red-50             :rgba($color: $error-red, $alpha: .5);
$error-red-55             :rgba($color: $error-red, $alpha: .55);
$error-red-60             :rgba($color: $error-red, $alpha: .6);
$error-red-65             :rgba($color: $error-red, $alpha: .65);
$error-red-70             :rgba($color: $error-red, $alpha: .7);
$error-red-75             :rgba($color: $error-red, $alpha: .75);
$error-red-80             :rgba($color: $error-red, $alpha: .8);
$error-red-85             :rgba($color: $error-red, $alpha: .85);
$error-red-90             :rgba($color: $error-red, $alpha: .9);
$error-red-95             :rgba($color: $error-red, $alpha: .95);
$error-tint-00            :rgba($color: $error-tint, $alpha: 0);
$error-tint-05            :rgba($color: $error-tint, $alpha: .05);
$error-tint-10            :rgba($color: $error-tint, $alpha: .1);
$error-tint-15            :rgba($color: $error-tint, $alpha: .15);
$error-tint-20            :rgba($color: $error-tint, $alpha: .2);
$error-tint-25            :rgba($color: $error-tint, $alpha: .25);
$error-tint-30            :rgba($color: $error-tint, $alpha: .3);
$error-tint-35            :rgba($color: $error-tint, $alpha: .35);
$error-tint-40            :rgba($color: $error-tint, $alpha: .4);
$error-tint-45            :rgba($color: $error-tint, $alpha: .45);
$error-tint-50            :rgba($color: $error-tint, $alpha: .5);
$error-tint-55            :rgba($color: $error-tint, $alpha: .55);
$error-tint-60            :rgba($color: $error-tint, $alpha: .6);
$error-tint-65            :rgba($color: $error-tint, $alpha: .65);
$error-tint-70            :rgba($color: $error-tint, $alpha: .7);
$error-tint-75            :rgba($color: $error-tint, $alpha: .75);
$error-tint-80            :rgba($color: $error-tint, $alpha: .8);
$error-tint-85            :rgba($color: $error-tint, $alpha: .85);
$error-tint-90            :rgba($color: $error-tint, $alpha: .9);
$error-tint-95            :rgba($color: $error-tint, $alpha: .95);
$golden-orange-00         :rgba($color: $golden-orange, $alpha: 0);
$golden-orange-05         :rgba($color: $golden-orange, $alpha: .05);
$golden-orange-10         :rgba($color: $golden-orange, $alpha: .1);
$golden-orange-15         :rgba($color: $golden-orange, $alpha: .15);
$golden-orange-20         :rgba($color: $golden-orange, $alpha: .2);
$golden-orange-25         :rgba($color: $golden-orange, $alpha: .25);
$golden-orange-30         :rgba($color: $golden-orange, $alpha: .3);
$golden-orange-35         :rgba($color: $golden-orange, $alpha: .35);
$golden-orange-40         :rgba($color: $golden-orange, $alpha: .4);
$golden-orange-45         :rgba($color: $golden-orange, $alpha: .45);
$golden-orange-50         :rgba($color: $golden-orange, $alpha: .5);
$golden-orange-55         :rgba($color: $golden-orange, $alpha: .55);
$golden-orange-60         :rgba($color: $golden-orange, $alpha: .6);
$golden-orange-65         :rgba($color: $golden-orange, $alpha: .65);
$golden-orange-70         :rgba($color: $golden-orange, $alpha: .7);
$golden-orange-75         :rgba($color: $golden-orange, $alpha: .75);
$golden-orange-80         :rgba($color: $golden-orange, $alpha: .8);
$golden-orange-85         :rgba($color: $golden-orange, $alpha: .85);
$golden-orange-90         :rgba($color: $golden-orange, $alpha: .9);
$golden-orange-95         :rgba($color: $golden-orange, $alpha: .95);
$info-blue-00             :rgba($color: $info-blue, $alpha: 0);
$info-blue-05             :rgba($color: $info-blue, $alpha: .05);
$info-blue-10             :rgba($color: $info-blue, $alpha: .1);
$info-blue-15             :rgba($color: $info-blue, $alpha: .15);
$info-blue-20             :rgba($color: $info-blue, $alpha: .2);
$info-blue-25             :rgba($color: $info-blue, $alpha: .25);
$info-blue-30             :rgba($color: $info-blue, $alpha: .3);
$info-blue-35             :rgba($color: $info-blue, $alpha: .35);
$info-blue-40             :rgba($color: $info-blue, $alpha: .4);
$info-blue-45             :rgba($color: $info-blue, $alpha: .45);
$info-blue-50             :rgba($color: $info-blue, $alpha: .5);
$info-blue-55             :rgba($color: $info-blue, $alpha: .55);
$info-blue-60             :rgba($color: $info-blue, $alpha: .6);
$info-blue-65             :rgba($color: $info-blue, $alpha: .65);
$info-blue-70             :rgba($color: $info-blue, $alpha: .7);
$info-blue-75             :rgba($color: $info-blue, $alpha: .75);
$info-blue-80             :rgba($color: $info-blue, $alpha: .8);
$info-blue-85             :rgba($color: $info-blue, $alpha: .85);
$info-blue-90             :rgba($color: $info-blue, $alpha: .9);
$info-blue-95             :rgba($color: $info-blue, $alpha: .95);
$light-coral-black-00     :rgba($color: $light-coral-black, $alpha: 0);
$light-coral-black-05     :rgba($color: $light-coral-black, $alpha: .05);
$light-coral-black-10     :rgba($color: $light-coral-black, $alpha: .1);
$light-coral-black-15     :rgba($color: $light-coral-black, $alpha: .15);
$light-coral-black-20     :rgba($color: $light-coral-black, $alpha: .2);
$light-coral-black-25     :rgba($color: $light-coral-black, $alpha: .25);
$light-coral-black-30     :rgba($color: $light-coral-black, $alpha: .3);
$light-coral-black-35     :rgba($color: $light-coral-black, $alpha: .35);
$light-coral-black-40     :rgba($color: $light-coral-black, $alpha: .4);
$light-coral-black-45     :rgba($color: $light-coral-black, $alpha: .45);
$light-coral-black-50     :rgba($color: $light-coral-black, $alpha: .5);
$light-coral-black-55     :rgba($color: $light-coral-black, $alpha: .55);
$light-coral-black-60     :rgba($color: $light-coral-black, $alpha: .6);
$light-coral-black-65     :rgba($color: $light-coral-black, $alpha: .65);
$light-coral-black-70     :rgba($color: $light-coral-black, $alpha: .7);
$light-coral-black-75     :rgba($color: $light-coral-black, $alpha: .75);
$light-coral-black-80     :rgba($color: $light-coral-black, $alpha: .8);
$light-coral-black-85     :rgba($color: $light-coral-black, $alpha: .85);
$light-coral-black-90     :rgba($color: $light-coral-black, $alpha: .9);
$light-coral-black-95     :rgba($color: $light-coral-black, $alpha: .95);
$pearl-color-00           :rgba($color: $pearl-color, $alpha: 0);
$pearl-color-05           :rgba($color: $pearl-color, $alpha: .05);
$pearl-color-10           :rgba($color: $pearl-color, $alpha: .1);
$pearl-color-15           :rgba($color: $pearl-color, $alpha: .15);
$pearl-color-20           :rgba($color: $pearl-color, $alpha: .2);
$pearl-color-25           :rgba($color: $pearl-color, $alpha: .25);
$pearl-color-30           :rgba($color: $pearl-color, $alpha: .3);
$pearl-color-35           :rgba($color: $pearl-color, $alpha: .35);
$pearl-color-40           :rgba($color: $pearl-color, $alpha: .4);
$pearl-color-45           :rgba($color: $pearl-color, $alpha: .45);
$pearl-color-50           :rgba($color: $pearl-color, $alpha: .5);
$pearl-color-55           :rgba($color: $pearl-color, $alpha: .55);
$pearl-color-60           :rgba($color: $pearl-color, $alpha: .6);
$pearl-color-65           :rgba($color: $pearl-color, $alpha: .65);
$pearl-color-70           :rgba($color: $pearl-color, $alpha: .7);
$pearl-color-75           :rgba($color: $pearl-color, $alpha: .75);
$pearl-color-80           :rgba($color: $pearl-color, $alpha: .8);
$pearl-color-85           :rgba($color: $pearl-color, $alpha: .85);
$pearl-color-90           :rgba($color: $pearl-color, $alpha: .9);
$pearl-color-95           :rgba($color: $pearl-color, $alpha: .95);
$shiny-gold-00            :rgba($color: $shiny-gold, $alpha: 0);
$shiny-gold-05            :rgba($color: $shiny-gold, $alpha: .05);
$shiny-gold-10            :rgba($color: $shiny-gold, $alpha: .1);
$shiny-gold-15            :rgba($color: $shiny-gold, $alpha: .15);
$shiny-gold-20            :rgba($color: $shiny-gold, $alpha: .2);
$shiny-gold-25            :rgba($color: $shiny-gold, $alpha: .25);
$shiny-gold-30            :rgba($color: $shiny-gold, $alpha: .3);
$shiny-gold-35            :rgba($color: $shiny-gold, $alpha: .35);
$shiny-gold-40            :rgba($color: $shiny-gold, $alpha: .4);
$shiny-gold-45            :rgba($color: $shiny-gold, $alpha: .45);
$shiny-gold-50            :rgba($color: $shiny-gold, $alpha: .5);
$shiny-gold-55            :rgba($color: $shiny-gold, $alpha: .55);
$shiny-gold-60            :rgba($color: $shiny-gold, $alpha: .6);
$shiny-gold-65            :rgba($color: $shiny-gold, $alpha: .65);
$shiny-gold-70            :rgba($color: $shiny-gold, $alpha: .7);
$shiny-gold-75            :rgba($color: $shiny-gold, $alpha: .75);
$shiny-gold-80            :rgba($color: $shiny-gold, $alpha: .8);
$shiny-gold-85            :rgba($color: $shiny-gold, $alpha: .85);
$shiny-gold-90            :rgba($color: $shiny-gold, $alpha: .9);
$shiny-gold-95            :rgba($color: $shiny-gold, $alpha: .95);
$traditional-gold-color-00:rgba($color: $traditional-gold-color, $alpha: 0);
$traditional-gold-color-05:rgba($color: $traditional-gold-color, $alpha: .05);
$traditional-gold-color-10:rgba($color: $traditional-gold-color, $alpha: .1);
$traditional-gold-color-15:rgba($color: $traditional-gold-color, $alpha: .15);
$traditional-gold-color-20:rgba($color: $traditional-gold-color, $alpha: .2);
$traditional-gold-color-25:rgba($color: $traditional-gold-color, $alpha: .25);
$traditional-gold-color-30:rgba($color: $traditional-gold-color, $alpha: .3);
$traditional-gold-color-35:rgba($color: $traditional-gold-color, $alpha: .35);
$traditional-gold-color-40:rgba($color: $traditional-gold-color, $alpha: .4);
$traditional-gold-color-45:rgba($color: $traditional-gold-color, $alpha: .45);
$traditional-gold-color-50:rgba($color: $traditional-gold-color, $alpha: .5);
$traditional-gold-color-55:rgba($color: $traditional-gold-color, $alpha: .55);
$traditional-gold-color-60:rgba($color: $traditional-gold-color, $alpha: .6);
$traditional-gold-color-65:rgba($color: $traditional-gold-color, $alpha: .65);
$traditional-gold-color-70:rgba($color: $traditional-gold-color, $alpha: .7);
$traditional-gold-color-75:rgba($color: $traditional-gold-color, $alpha: .75);
$traditional-gold-color-80:rgba($color: $traditional-gold-color, $alpha: .8);
$traditional-gold-color-85:rgba($color: $traditional-gold-color, $alpha: .85);
$traditional-gold-color-90:rgba($color: $traditional-gold-color, $alpha: .9);
$traditional-gold-color-95:rgba($color: $traditional-gold-color, $alpha: .95);
$warning-tint-00          :rgba($color: $warning-tint, $alpha: 0);
$warning-tint-05          :rgba($color: $warning-tint, $alpha: .05);
$warning-tint-10          :rgba($color: $warning-tint, $alpha: .1);
$warning-tint-15          :rgba($color: $warning-tint, $alpha: .15);
$warning-tint-20          :rgba($color: $warning-tint, $alpha: .2);
$warning-tint-25          :rgba($color: $warning-tint, $alpha: .25);
$warning-tint-30          :rgba($color: $warning-tint, $alpha: .3);
$warning-tint-35          :rgba($color: $warning-tint, $alpha: .35);
$warning-tint-40          :rgba($color: $warning-tint, $alpha: .4);
$warning-tint-45          :rgba($color: $warning-tint, $alpha: .45);
$warning-tint-50          :rgba($color: $warning-tint, $alpha: .5);
$warning-tint-55          :rgba($color: $warning-tint, $alpha: .55);
$warning-tint-60          :rgba($color: $warning-tint, $alpha: .6);
$warning-tint-65          :rgba($color: $warning-tint, $alpha: .65);
$warning-tint-70          :rgba($color: $warning-tint, $alpha: .7);
$warning-tint-75          :rgba($color: $warning-tint, $alpha: .75);
$warning-tint-80          :rgba($color: $warning-tint, $alpha: .8);
$warning-tint-85          :rgba($color: $warning-tint, $alpha: .85);
$warning-tint-90          :rgba($color: $warning-tint, $alpha: .9);
$warning-tint-95          :rgba($color: $warning-tint, $alpha: .95);
$warning-yellow-00        :rgba($color: $warning-yellow, $alpha: 0);
$warning-yellow-05        :rgba($color: $warning-yellow, $alpha: .05);
$warning-yellow-10        :rgba($color: $warning-yellow, $alpha: .1);
$warning-yellow-15        :rgba($color: $warning-yellow, $alpha: .15);
$warning-yellow-20        :rgba($color: $warning-yellow, $alpha: .2);
$warning-yellow-25        :rgba($color: $warning-yellow, $alpha: .25);
$warning-yellow-30        :rgba($color: $warning-yellow, $alpha: .3);
$warning-yellow-35        :rgba($color: $warning-yellow, $alpha: .35);
$warning-yellow-40        :rgba($color: $warning-yellow, $alpha: .4);
$warning-yellow-45        :rgba($color: $warning-yellow, $alpha: .45);
$warning-yellow-50        :rgba($color: $warning-yellow, $alpha: .5);
$warning-yellow-55        :rgba($color: $warning-yellow, $alpha: .55);
$warning-yellow-60        :rgba($color: $warning-yellow, $alpha: .6);
$warning-yellow-65        :rgba($color: $warning-yellow, $alpha: .65);
$warning-yellow-70        :rgba($color: $warning-yellow, $alpha: .7);
$warning-yellow-75        :rgba($color: $warning-yellow, $alpha: .75);
$warning-yellow-80        :rgba($color: $warning-yellow, $alpha: .8);
$warning-yellow-85        :rgba($color: $warning-yellow, $alpha: .85);
$warning-yellow-90        :rgba($color: $warning-yellow, $alpha: .9);
$warning-yellow-95        :rgba($color: $warning-yellow, $alpha: .95);
$white-00                 :rgba($color: $white, $alpha: 0);
$white-05                 :rgba($color: $white, $alpha: .05);
$white-10                 :rgba($color: $white, $alpha: .1);
$white-15                 :rgba($color: $white, $alpha: .15);
$white-20                 :rgba($color: $white, $alpha: .2);
$white-25                 :rgba($color: $white, $alpha: .25);
$white-30                 :rgba($color: $white, $alpha: .3);
$white-35                 :rgba($color: $white, $alpha: .35);
$white-40                 :rgba($color: $white, $alpha: .4);
$white-45                 :rgba($color: $white, $alpha: .45);
$white-50                 :rgba($color: $white, $alpha: .5);
$white-55                 :rgba($color: $white, $alpha: .55);
$white-60                 :rgba($color: $white, $alpha: .6);
$white-65                 :rgba($color: $white, $alpha: .65);
$white-70                 :rgba($color: $white, $alpha: .7);
$white-75                 :rgba($color: $white, $alpha: .75);
$white-80                 :rgba($color: $white, $alpha: .8);
$white-85                 :rgba($color: $white, $alpha: .85);
$white-90                 :rgba($color: $white, $alpha: .9);
$white-95                 :rgba($color: $white, $alpha: .95);
