// white space variables
$xs-white-space : 14px;
$sm-white-space : 18px;
$std-white-space: 24px;
$md-white-space : 30px;
$lg-white-space : 36px;
$xlg-white-space: 48px;
$gig-white-space: 64px;
$abs-white-space: 72px;
