// color variables
$alabaster             : #E6E9F1;
$black                 : black;
$coconut-milk          : #F1EEE6;
$coral-black           : #110C0B;
$error-red             : #F03916;
$error-tint            : #FAE5E1;
$golden-orange         : #D7942E;
$info-blue             : #0077D7;
$shiny-gold            : #FFDD43;
$traditional-gold-color: #EEBC51;
$warning-tint          : #FFF5DC;
$warning-yellow        : #FFB800;
$white                 : white;
