// bootstrap media queries
$bt-xs : 576px;
$bt-sm : 768px;
$bt-md : 992px;
$bt-lg : 1200px;
$bt-xlg: 1400px;

// standard media queries
$std-mobile-min  : 320px;
$std-mobile-max  : 480px;
$std-tablet-min  : 481px;
$std-tablet-max  : 758px;
$std-laptop-min  : 769px;
$std-laptop-max  : 1024px;
$std-desktop-min : 1025px;
$std-desktop-max : 1200px;
$std-large-screen-min: 1201px;
