// timing variables
$duration-05 : 50ms;
$duration-10 : 100ms;
$duration-15 : 150ms;
$duration-20 : 200ms;
$duration-25 : 250ms;
$duration-30 : 300ms;
$duration-35 : 350ms;
$duration-40 : 400ms;
$duration-45 : 450ms;
$duration-50 : 500ms;
$duration-55 : 550ms;
$duration-60 : 600ms;
$duration-65 : 650ms;
$duration-70 : 700ms;
$duration-75 : 750ms;
$duration-80 : 800ms;
$duration-85 : 850ms;
$duration-90 : 900ms;
$duration-95 : 950ms;
$duration-100: 1000ms;
